<section class="banner">
  <div class="banner-container">

    <div class="banner-img">
      <img src="https://bizweb.dktcdn.net/100/438/408/files/tao-dang-chup-anh-o-quan-cafe-yodyvn3.jpg?v=1667284146861" alt="">
    </div>

    <div class="banner-text">
      <span class="tag">BECOME A PARTNER</span>
      <h1>Explore Wholesale</h1>
      <p>We help build coffee programs to grow</p>
      <button>Sign Up</button>
    </div>

  </div>
</section>


<section class="favorites">

  <p class="sub-title">GREAT COFFEE IS OUR PASSION</p>
  <h2>This month's favorites</h2>

  <div class="card-list">

    <div class="card">
      <img src="https://img4.thuthuatphanmem.vn/uploads/2020/12/25/hinh-anh-quan-cafe-thoang-dang-rat-dep_061433134.jpg">
      <span>HOME DELIVERY</span>
      <h3>Quality coffee delivered to your door</h3>
    </div>

    <div class="card">
      <img src="https://xiphocafe.vn/uploads/blog/2023_03/ca-phe-canh-tac-tu-nhien2_2.jpg">
      <span>OUR MISSION</span>
      <h3>It all began with a modest concept</h3>
    </div>

    <div class="card">
      <img src="https://img4.thuthuatphanmem.vn/uploads/2020/12/25/hinh-anh-quan-cafe-thoang-dang-rat-dep_061433134.jpg">
      <span>FEATURED</span>
      <h3>Black Coffee Shaved Ice</h3>
    </div>

  </div>

  <div class="btn-view">
    <button>View All Coffee</button>
  </div>

</section>