<!-- <app-header/>
<app-content/>
<app-footer/> -->

<h1>{{title}}</h1>
<h2>Phần 1. Thuộc tính</h2>
<h3 [class] = "classname" class="title">Thuộc tính class</h3>
<h3 [class] = "[classname,'text',fontweight]">Nhiều class</h3>
<h3 [class.active] = "show">Hiển thị class phụ thuộc biến</h3>
<p>Style</p>
<h3 [style] = "{'background':color,'color':'white'}" class="title">Thuộc tính style</h3>
<h3 [style.background] = "color" class="title">Gán giá trị  cho thuộc tính style</h3>
<h2>Phần 2. Sự kiện</h2>
<button (click)="handleClick()">Thay đổi trạng thái</button>
<h2>Phần 3. Tương tác 2 chiều (two way binding)</h2>
<input type="text" placeholder="Nhập gì đó" [(ngModel)]="title"/>
<h2>Ứng dụng. Tạo chương trình tính diện tích hình chữ nhật</h2>
<label> Chiều dài
<input type="number" min="1" [(ngModel)] ="chieudai"/>
</label>
<label> Chiều rộng
<input type="number" min="1" [(ngModel)] ="chieurong"/>
</label>
<button (click)="Caculator()">Tính</button>
<label> Diện tích
<input type="number" min="1" [(ngModel)] ="dientich"/>
</label>
<p>----------------------------------------------------</p>
@if (show){
    <h2>Xin chào WD20307</h2>
}
@else {
    <h2>Tạm biết WD20307</h2>
}
<button (click)="onChange()">Thay đổi</button>
<input type="text" placeholder="tên cv" [(ngModel)]="name"/>
<input type="text" placeholder="Ưu tiên" [(ngModel)]="priority"/>
<button (click)="onAddTodo()">Thêm</button>
<h1>Danh sách công việc cần làm</h1>
@if (message!=''){
<span [style.color]="'red'">
    Bạn vừa chọn {{message}}
</span>
}
<div>
    @for (todo of todos; track $index;let i=$index;let e=$even;let first = $first;let last = $last) {
        <!-- @if(e){
            <li [style.font-weight]="(first)?'bold':''" [style.font-style]="(last)?'italic':''" [style.color]="'blue'">STT: {{i+1}}. {{todo.name}} - Độ ưu tiên: {{todo.priority}}</li>
        }
        @else{
            <li [style.font-weight]="(first)?'bold':''" [style.font-style]="(last)?'italic':''" [style.color]="'red'">STT: {{i+1}}. {{todo.name}} - Độ ưu tiên: {{todo.priority}}</li>
        } -->
            <!-- <li [style.font-weight]="(first)?'bold':''" [style.font-style]="(last)?'italic':''" [style.color]="(e)?'blue':'red'">STT: {{i+1}}. {{todo.name}} - Độ ưu tiên: {{todo.priority}}</li> -->
        <app-todoitem (handleclick)="ChooseFn($event)" [todoInfo]="{todo:todo,last:last,first:first,even:e,index:i}"/>      
    }
</div>
<h2>Bài viết mới nhất</h2>
@for (post of posts;track post.id){
    <div>
        <h3>{{post.title}}</h3>
        <p>{{post.body}}</p>
    </div>
}

<h2>Danh sách hình ảnh</h2>
<h3 [style.color]="(selectedId % 2 === 0) ? 'red' : 'blue'">
  Author được chọn: {{selectedAuthor}}
</h3>

@for (pic of pictures; track $index) {
  <app-picture-item 
    [picture]="pic"
    (sendAuthor)="handleReceiveAuthor($event.author, $event.id)">
  </app-picture-item>
}